<head>

  <meta name="viewport" content="width=device-width, initial-scale=0.6"> <!-- I am a slut for viewport 0.6/0.7-->
<!--  <title>Official Acid Fog Depot!</title> &lt;!&ndash; Unique titles for several articles/pages &ndash;&gt;-->
<!--  <meta name="description" content="Acid Fog Official Site"> &lt;!&ndash; Unique descriptions for several articles &ndash;&gt;-->


  <meta
          http-equiv="Content-Type"
          content="text/html; charset=utf-8"
  >
  <meta charset="UTF-8">
  <meta name="author" content="Acid Fog">
  <meta name="keywords" content="Music, records, albums, acid, fog, acidfog, acid fog">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="stylesheet" href="/template/layout.css">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="theme-color" content="#ffffff">
  <script src="/articles/adlink.js" defer></script>
  <script defer src="https://analytics.edsmcserv.com/script.js" data-website-id="e331402a-10ae-4030-b5d0-14d2eae72744"></script>

</head>