
body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: #696969;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}
.article-info {
    display: flex;

}
.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('/articles/usrimg.png');
    background-color: #333;
    margin-right: 10px;
}
.user-name {
    font-weight: bold;
}
.article-content {
    margin-top: 20px;
    text-align: center;
}
.buttons {
    position: absolute;
    left: 10px;
    top: 10px;
}

.button {
    text-decoration: none;
    transition: background-color 0.1s;
    display: inline-block;

    height: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
    margin-right: 6px;
    cursor: pointer;
}
.button:hover {
    background-color: #555;
}
.buttong {
    text-decoration: none;
    transition: background-color 0.1s;
    display: inline-block;

    height: 30px;
    background-color: #cae8d2;
    color: #000;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-right: 12px;
    padding: 0px 6px;
    border: inset;
    cursor: pointer;
}

.buttong:hover {
    background-color: #79bd8b
}
.pbuttong {
    text-decoration: none;
    transition: background-color 0.1s;
    display: inline-flex;
    margin-bottom: 8px;
    align-items: center;
    height: 30px;
    background-color: #cae8d2;
    color: #000;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-right: 12px;
    padding: 0px 6px;
    border: inset;
    cursor: pointer;
}

.pbuttong:hover {
    background-color: #79bd8b
}
/* Style for the image and caption */
.article-image {
    border-radius: 20px;
    max-width: 60%; /* Ensure the image fits within the container */
}

.caption {
    font-size: 0.8rem;
    color: #777;
}


/* Style the hyperlink to remove underlines and look like a button */
.article a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s;
}

.article a:hover {
    background-color: #f0f0f0;
}

.article-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.article-meta {
    font-size: 0.9rem;
    color: #777;
}
.ad-container {

    height: auto; /* Adjust to your desired height */
    border-radius: 10px; /* Add curved edges */
    display: grid;
    place-items: center;
    padding: 5px; /* Add padding around the ad content */
    margin: 5px; /* Add margins to create space between ads */

}
.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.banner {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

header {
    display: grid;
    place-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: space-around;
}

nav {
    max-width: 800px;
    background-color: #222;
    border-radius: 8px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

.nav {
    max-width: 800px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-radius: 8px;
    justify-content: space-around;

    background: linear-gradient(to bottom, #333, #111);
}

.nav > li {
    position: relative;
}

.nav a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
}

.nav a:hover {
    background: #555;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #222;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown li a {
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
}

.nav > li:hover .dropdown {
    display: block;
}

main {
    padding: 0; /* was "20px 0" */
    font-size: 1em;

}

.content-block {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.test {
    text-decoration: none;
    color: #FFF;
}
.content-block img {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border: 1px solid #555;
    border-radius: 8px;
}

.content-block p {
    min-width: 280px;
    flex: 1;
    text-align: justify;
}

footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    font-size: 0.7rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}
section {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

sup {
    font-size: 0.8em; /* Adjust the size as needed */
    vertical-align: super;
}
sup a{
    color: #0073e6; /* Set your desired link color */
    text-decoration: none; /* Remove the underline */
}
/* Style for the anchor links within footnotes */
section a {
    text-decoration: none; /* Remove the underline */
    color: #0073e6; /* Set your desired link color */
    padding-right: 10px; /* Create some space between the link and the footnote text */
}

/* Style for the audio player container */
.audio-container {
    width: 90%;
    margin: 10px auto;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
}

/* Style for the waveform and stylus */
.waveform {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    margin-top: 10px;
}

.stylus {
    width: 2px;
    height: 100%;
    background-color: #0073e6;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/* Style for the download button */
.download-button {
    display: block;
    margin-top: 10px;
    background-color: #0073e6;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.download-button:hover {
    background-color: #005bb5;
}
