/* Place all global styles here this time, silly goose */

:root {
    --primary: something;
    --secondary: something;
    --tertiary: something;

    --light: #DDD;
    --gradient-med: #444;
    --gradient-drk: #111;

    --nav-bg: #222;


    --text: #fff;
    --font-default: Arial, sans-serif;
    --font-size: 1rem;

}

html {
    margin: 0 auto;
    min-height: 100%;
}

body {
    font-family: var(--font-default);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, var(--gradient-med), var(--gradient-drk));
    color: var(--text);
}

.container {
    max-width: 60rem;
    min-width: 50%;
    margin: 0 auto;
    padding: 1rem;

}

header {
    text-align: center;
    /*contains banner, nav bar, drop downs*/
}

.banner {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}
nav {
    /*applies to the dropdown selections*/
    /*background-color: var(--nav-bg);*/
    border-radius: .5rem;
    border-top: .2rem solid var(--gradient-med);
    border-bottom: .2rem solid var(--gradient-med);
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-radius: .5rem;
    justify-content: space-around;
    /*TODO: Revisit. Not a huge fan of there being so much free space around the buttons. Flex-grow?*/
    background: linear-gradient(to bottom, var(--gradient-med), var(--gradient-drk));
}

.nav > li {
    flex-grow: 1;
    position: relative;
}

.nav a {
    display: block;
    padding: 1rem;
    color: var(--text);
    text-decoration: none;
    text-shadow: .1rem .1rem .2rem black;
    border-radius: 0.4rem 0.4rem 0 0; /* HERE */
    text-align: center;
    z-index: 5;
}

.nav a:hover {
    background: var(--gradient-med);
}
.nav a:active {
    background: var(--light);
}

.dropdown {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--nav-bg);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 5;
    transition: 200ms ease;
    border-radius: 0.4rem; /* HERE */
}

.dropdown li a {
    /*TODO: See if padding is fine*/
    padding: .75rem;
    box-shadow: none;
    border-radius: 0;
    border-radius: 0.4rem;
}

.nav > li:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

main {
    /*TODO: See if padding is needed*/
    padding: 1.25rem 0;
    font-size: var(--font-size);
    text-align: center;
}

.content-block {
    display: flex;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
}
/*TODO: Remove?*/
.test {
    text-decoration: none;
    color: var(--text);
}
.content-block img {
    width: 19rem;
    height: auto;
    margin-right: 1.25rem;
    border: .2rem solid var(--gradient-med);
    border-radius: .5rem;
}

.content-block p {
    min-width: 18rem;
    flex: 1;
    text-align: justify;
}

footer {
    /*TODO: Why so much padding?!*/
    text-align: center;
    padding: .75rem 0;
    border-top: .2rem solid var(--gradient-med);
    font-size: 0.7rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 .75rem;
}

footer ul li a {
    color: var(--text);
    text-decoration: none;
}
.content-image {
    display: flex;
    height: fit-content;
    width: fit-content;
    position: relative;
}

.hover-img {
    opacity: 0;
    height: 0;
    width: 0;
    /*transform: scale(1.05);*/
    object-fit: cover;
    position: absolute;
}

.content-image:hover .hover-img {
    transition: opacity 400ms ease;
    opacity: 1;
    height: calc(100% - .4rem);
    width: calc(100% - 1.65rem);
    overflow: hidden;
}

.ad-container {

    height: auto; /* Adjust to your desired height */
    border-radius: 10px; /* Add curved edges */
    display: grid;
    place-items: center;
    padding: 5px; /* Add padding around the ad content */
    margin: 5px; /* Add margins to create space between ads */

}
/*SOTM*/
.audio-container {
    width: 90%;
    margin: 10px auto;
    background-color: #0f0f0f;
    padding: 15px;
    border-radius: 10px;
}

/* Style for the waveform and stylus */
.waveform {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    margin-top: 10px;
}

.stylus {
    width: 2px;
    height: 100%;
    background-color: #0073e6;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/* Style for the download button */
.download-button {
    display: block;
    margin-top: 10px;
    background-color: #0073e6;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.download-button:hover {
    background-color: #005bb5;
}