:root {
    --trans-time: 500ms;
}

hr {
    width: 95vw;
    height: 0.1rem;
    background-color: lightgrey;
    border: none;
}

body {
    min-height: 100dvh;
}

.loader {
    display: grid;
    place-items: center;
    min-height: 50vh;
    width: 100%;
    margin-top: 2rem;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;

    max-width: 60rem;
    min-width: 50%;
    margin: 0 auto;
    padding: 1rem;

    min-height: fit-content;

    align-items: center;

    gap: 1rem;
}

.event-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 8rem;

    justify-content: center;
    align-items: center;

    border-radius: 10px;
    box-sizing: border-box;
    transition:
        max-height var(--trans-time) ease,
        opacity var(--trans-time) ease,
        overflow,
        gap var(--trans-time) ease;
}

.event-dropdown.active {
    gap: 1rem;
}

.events-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    max-height: 0;

    justify-content: center;

    gap: 1rem;
    opacity: 0;

    overflow: hidden;
    box-sizing: border-box;
    transition:
        max-height var(--trans-time) ease,
        opacity var(--trans-time) ease,
        overflow,
        gap;
}

.events-container.active {
    max-height: 800vh;
    opacity: 1;
    overflow: visible;
}

.dropbtn {
    position: relative;
    top: 0;

    height: 8rem;
    width: 100%;

    text-align: center;
    font-size: 2rem;

    background-color: #1a1a1a;
    color: var(--text);
    border: 0.1rem solid #29bc25;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    box-sizing: border-box;
}

.dropbtn:disabled {
    color: gray;
    cursor: not-allowed;
}

.dropbtn svg {
    position: absolute;
    right: 5%;
    top: 0;
    transform: translateY(calc(4rem - 10px));
    transition: var(--trans-time) ease;
    pointer-events: none;
}

.event {
    position: relative;
    display: flex;
    flex-direction: column;

    /*max-height: 66dvh;*/
    max-width: 19rem;

    justify-content: space-between;
    align-items: center;

    padding: 0.75rem;

    background-color: #1a1a1a;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(41, 188, 37, 0.4);

    transition: 200ms ease;
    z-index: 2;
}

.event img {
    position: relative;
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.event:hover {
    transform: scale(1.05);
    z-index: 3;
}
