body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

form {
    margin: 0;
    padding: 0;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#elaboration {
    display: none;
}

#new-question-btn {
    display: none;
    margin: 20px auto; /* Adjust the top and bottom margin to center the button */
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}
 .buttons {
            position: absolute;
            left: 10px;
            top: 10px;
        }

        .button {
            text-decoration: none;
            transition: background-color 0.1s;
            display: inline-block;
            
            height: 30px;
            background-color: #333;
            color: #fff;
            text-align: center;
            line-height: 30px;
            border-radius: 2px;
            margin-right: 6px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #555;
        }

